.flex-item {
    background-color: #ffffff;
    width: 700px;
    height: 600px;
    position: fixed;
    top: 38px;
    left: 300px;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 10px;
    
}


.h2 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    bottom: 450px;
    left: 100px;
    
   
}