body{
    margin: 0 auto;
    background-image: url("https://raw.githubusercontent.com/christo03/imad-2016-app/master/spot%20log.png");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.container{
    width: 500px;
    height: 400px;
    position: fixed;
    bottom: 125px;
    left: 430px;
    text-align: center;
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}
.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
    input[type="text"],input[type="password"]{
      height: 45px;
      width: 300px;
      font-size: 18px;
      border: none;
      margin-bottom: 20px;
      border-radius: 4px;
      background-color: #fff;
}   
  
.btn-login{
       padding: 15px 30px;
       cursor: pointer;
       color: #fff;
       border-radius: 4px;
       border: none;
       background-color: #2ECC71;
       border-bottom: 4px solid #27AE60;
       margin-bottom: 20;
    
}
a
{ 
 color:#fff; 
} 

.flex-item {
    background-color: #000000;
    width: 350px;
    height: 200px;
    position: fixed;
    bottom: 350px;
    left: 25px;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 10px;
    
}

.flex-item1{
    background-color: #000000;
    width: 350px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    left: 25px;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 10px;
    
}
.flex-item2 {
    background-color: #000000;
    width: 350px;
    height: 200px;
    position: fixed;
    bottom: 350px;
    right: 25px;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 10px;
    
}

.flex-item3 {
    background-color: #000000;
    width: 350px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    right: 25px;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 10px;
    
}

.h2 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    bottom: 450px;
    left: 100px;
    
   
}

.h3 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    bottom: 150px;
    left: 100px;
}

.h4 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    top: 450px;
    right: 160px;
}

.h5 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    bottom: 430px;
    right: 90px;
}

.h7 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    bottom: 400px;
    right: 150px;
}
.h8 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    top: 50px;
    right: 550px;
}
