body{
    margin: 0 auto;
    background-image: url("https://raw.githubusercontent.com/christo03/imad-2016-app/master/spot%20log.png");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.container{
    width: 500px;
    height: 400px;
    top: 0;
    right:0;
    text-align: center;
    background-color: #0000FF;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}
.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
    input[type="text"],input[type="password"]{
      height: 45px;
      width: 300px;
      font-size: 18px;
      border: none;
      margin-bottom: 20px;
      border-radius: 4px;
      background-color: #fff;
}   
  
.btn-login{
       padding: 15px 30px;
       cursor: pointer;
       color: #fff;
       border-radius: 4px;
       border: none;
       background-color: #2ECC71;
       border-bottom: 4px solid #27AE60;
       margin-bottom: 20;
    
}
a
{ 
 color:#fff; 
}     


