body, html {
   height: 100%;
}

.flex-item {
    background-color: #000000;
    width: 350px;
    height: 200px;
    position: fixed;
    bottom: 350px;
    left: 25px;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;
    margin: 10px;
    
}
