.flex-item {
    background-color: #ffffff;
    width: 800px;
    height: 1500px;
    position: absolute;
    top: 40px;
    left: 260px;
    text-align: center;

    border-radius: 4px;
    margin: 10px;
    
}


.h2 {
    font-size: 30px;
    color: #7CFC00;
    text-align: center;
    position: fixed;    
    bottom: 450px;
    left: 100px;
    
   
}
.P{
   font-size: 18px; 
   text-align: center;
}